Package: com.netskao.noappthinning
Conflicts: it.ned.noappthinning
Name: NoAppThinning
Version: 1.4
Description: Disable AppStore app thinning - by level3tjg, Disable TestFlight app thinning - by Netskao
Depends: firmware (>= 15.0), mobilesubstrate
Architecture: iphoneos-arm
Author: Netskao
Maintainer: Netskao
Section: Netskao-Tweaks
